
/* --------  COLORS  --------------  */
$navigation: #3A3719;
$background: #E9D89F;
$background-light: #F0EDCF;
$color1: #E6BF7C;
$color2: #B38F5B;

$primary-light: #66ff66;
$primary: #00cc00;
$primary-dark: #004d00;

/* --------  FONTS  --------------  */
$font-family-headings: 'Tangerine', cursive;
$font-family: 'Playfair Display', serif;
