
@import "variables";

.app {
  height: 100%;
  display: flex;
}

.content {
  height: 100%;
  width: 100%;
  padding-top: 5em;
}

.content-full {
  background-color: $background-light;
}

.fill-height-container {
  height: 85%;
}

.fill-height {
  height: 100%;
}

.welcome-img {
  width: 100%;
}


/* CAROUSEL */
/* equal card height */
.row-equal > div[class*='col-'] {
  display: flex;
}

.row-equal .card {
  width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
  display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
  opacity: 0.5;
  display: flex;
}

.prev, .next {
  position: absolute;
  top: 50%;
}


/* control image height */
.card-img-top-250 {
  max-height: 250px;
  overflow:hidden;
}


@media (min-width: 48em) {
  .content {
    padding-top: 1em;
    padding-left: 64px;
  }
}