// bower:scss
// endbower

@import "variables";


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  font-family: $font-family;
}

.heading-elegant{
  font-family: $font-family-headings;
}

.main-container {
  height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.bg {
  /* The image used */
  background-image: url("../images/186164302.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* BUTTONS */
.btn-primary {
  border-color: $primary;
  background-color: $primary;

  &:hover {
    border-color: $primary-light;
    background-color: $primary-light;
  }
}



/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

@media (min-width: 48em) {

  .top,
  .bottom {
    position: fixed;
    left: 0;
    right: 0;
  }

  .top {
    height: 60%;
    top: 0;
    background-color: $background-light;
  }

  .bottom {
    border-top: 2px solid $navigation;
    height: 40%;
    bottom: 0;
    background-color: $color1;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
