<div class="content content-full">
    <div class="container-fluid fill-height-container">

        <div class="row justify-content-md-center fill-height">

            <div class="col-md-8 fill-height">
                <div class="card fill-height">
                    <div class="card-body">
                        <h4 class="card-title">Bonsai list</h4>
                        <p class="card-text">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Species</th>
                                    <th>Style</th>
                                    <th>Age</th>
                                    <th>Height</th>
                                    <th>Diameter</th>
                                    <th>Pot</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ui-sref="app.bonsaidetail({id: bonsai.id})" ng-repeat="bonsai in list.bonsais track by $index">
                                    <th>{{$index+1}}</th>
                                    <td>{{bonsai.name}}</td>
                                    <td>{{bonsai.species}}</td>
                                    <td>{{bonsai.style}}</td>
                                    <td>{{bonsai.age}}</td>
                                    <td>{{bonsai.height}}</td>
                                    <td>{{bonsai.diameter}}</td>
                                    <td>{{bonsai.pot}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


