
<div ng-show="!main.loggedIn">
    <div class="top bg">

    </div>

    <div class="bottom">
        <div class="content">
            <div class="container-fluid fill-height-container text-center">
                <h1 class="display-1 heading-elegant"><strong>Welcome to Bonsai Manager</strong></h1>

                <br/>

                <h4>This application allows to keep all information about your Bonsai collection.</h4>

                <br/>
                <br/>

                Click to login: <button ng-click="main.openLogin()" class="button">Login</button>
            </div>
        </div>
    </div>
</div>

<div ng-show="main.loggedIn">
    <div class="top">
        <div class="content">
            <div class="container-fluid">

                <!-- HEADER -->
                <div class="row">
                    <div class="col col-sm-12">
                        <h1 class="display-4 heading-elegant">Bonsai Manager</h1>
                    </div>
                </div>

                <br/><br/>

                <!-- CAROUSEL -->
                <div class="row">

                    <div class="col col-sm-1" ng-show="main.bonsais">
                        <a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
                    </div>


                    <div class="col col-sm-10">
                        <section class="carousel slide" data-ride="carousel" data-interval="false" id="postsCarousel">

                            <div class="container carousel-inner">


                                <div class="row row-equal carousel-item" ng-class="{active:!$index}" ng-repeat="bonsai in main.bonsais track by $index">

                                    <div class="col-md-4">
                                        <div class="card" ui-sref="app.bonsaidetail({id: bonsai.id})">
                                            <div class="card-img-top card-img-top-250">
                                                <img class="figure-img img-fluid float-right" src="http://via.placeholder.com/250x250" alt="test">
                                            </div>
                                            <div class="card-body">
                                                <h6 class="small text-wide">{{bonsai.species}}</h6>
                                                <h3> {{bonsai.name}}</h3>
                                                <h5>Style:{{bonsai.style}}</h5>
                                                <h5>Age: {{bonsai.age}}</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4" >
                                        <div class="card">
                                            <div class="card-img-top card-img-top-250">
                                                <img class="figure-img img-fluid float-right" src="http://via.placeholder.com/250x250" alt="test">
                                            </div>
                                            <div class="card-body">
                                                <h6 class="small text-wide">{{main.bonsais[$index+1].species}}</h6>
                                                <h3> {{main.bonsais[$index+1].name}}</h3>
                                                <h5>Style:{{main.bonsais[$index+1].style}}</h5>
                                                <h5>Age: {{main.bonsais[$index+1].age}}</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4" >
                                        <div class="card">
                                            <div class="card-img-top card-img-top-250">
                                                <img class="figure-img img-fluid float-right" src="http://via.placeholder.com/250x250" alt="test">
                                            </div>
                                            <div class="card-body">
                                                <h6 class="small text-wide">{{main.bonsais[$index+2].species}}</h6>
                                                <h3> {{main.bonsais[$index+2].name}}</h3>
                                                <h5>Style:{{main.bonsais[$index+2].style}}</h5>
                                                <h5>Age: {{main.bonsais[$index+2].age}}</h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </section>
                    </div>

                    <div class="col col-sm-1" ng-show="main.bonsais">
                        <a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="bottom">
        <div class="content">
            <div class="container-fluid fill-height-container">

                <div class="row fill-height">
                    <div class="col-md-8 fill-height">


                        <div class="card fill-height">
                            <div class="card-header">
                                <i class="fa fa-bar-chart"></i> Statistics
                            </div>
                            <div class="card-body">

                                <h1>Bonsai Collection by {{main.username}}</h1>

                                <br/>

                                <h4>Total number of Bonsai: {{main.bonsais.size}}</h4>




                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 fill-height">
                        <div class="card fill-height">
                            <div class="card-body">

                                box 2


                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>


</div>


<script type="text/javascript">

    $(document).ready(function(){

        $('.next').click(function(){ $('.carousel').carousel('next');return false; });
        $('.prev').click(function(){ $('.carousel').carousel('prev');return false; });
    });
</script>





