<div class="content content-full">
    <div class="container-fluid fill-height-container">

        <div class="row justify-content-md-center fill-height">

            <div class="col-md-8 fill-height">
                <div class="card fill-height">
                    <div class="card-body">
                        <h4 class="card-title">
                            <span ng-show="!newedit.editMode">Add Bonsai</span>
                            <span ng-show="newedit.editMode">Edit Bonsai</span>
                        </h4>
                        <p class="card-text">


                            <form ng-submit="newedit.createBonsai()">

                                <div class="form-row">
                                    <!-- NAME -->
                                    <div class="form-group col-sm-8">
                                        <label for="inputName" class="col-form-name">Name</label>
                                        <input type="text" ng-model="newedit.bonsai.name" class="form-control" id="inputName" placeholder="Insert name...">

                                        <!-- SPECIES -->
                                        <label for="inputSpecies" class="col-form-label">Species</label>
                                        <input type="text" ng-model="newedit.bonsai.species" class="form-control" id="inputSpecies" placeholder="Insert species...">

                                        <!-- STYLE-->
                                        <label for="inputStyle" class="col-form-label">Style</label>
                                        <input type="text" ng-model="newedit.bonsai.style" class="form-control" id="inputStyle" placeholder="Insert style...">

                                        <!-- AGE -->
                                        <label for="inputAge" class="col-form-label">Age</label>
                                        <input type="text" ng-model="newedit.bonsai.age" class="form-control" id="inputAge" placeholder="Insert age...">

                                        <div class="form-row">
                                            <!-- HEIGHT -->
                                            <div class="col-sm-4">
                                                <label for="inputHeight" class="col-form-label">Height</label>
                                                <input type="text" ng-model="newedit.bonsai.height" class="form-control" id="inputHeight" placeholder="Insert height...">
                                            </div>

                                            <!-- DIAMETER -->
                                            <div class="col-sm-4">
                                                <label for="inputDiameter" class="col-form-label">Diameter</label>
                                                <input type="text" ng-model="newedit.bonsai.diameter" class="form-control" id="inputDiameter" placeholder="Insert diameter...">
                                            </div>
                                        </div>

                                        <!-- POT -->
                                        <label for="inputPot" class="col-form-label">Pot</label>
                                        <input type="text" ng-model="newedit.bonsai.pot" class="form-control" id="inputPot" placeholder="Insert pot type...">
                                    </div>

                                    <!-- IMAGE -->
                                    <div class="form-group col-sm-4 text-center">
                                        <figure class="figure">
                                            <img class="figure-img img-fluid rounded float-right" src="http://via.placeholder.com/250x350" alt="A generic square placeholder image with rounded corners in a figure.">
                                        </figure>
                                    </div>

                                </div>



                                <div class="form-row">

                                    <!-- NOTES -->
                                    <label for="exampleFormControlTextarea1">Notes</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                                </div>

                            </form>

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <br/><br/>

        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <button type="button" class="btn btn-danger pull-left" ng-click="newedit.cancel()">Cancel</button>
                <button type="button" class="btn btn-primary pull-right" ng-click="newedit.createUpdateBonsai()">Save</button>
            </div>
        </div>

    </div>
</div>