<div class="sidebar">

    <ul class="sidebar-menu">
        <li class="sidebar-item">
            <a ui-sref="app" class="sidebar-link" title="Homepage">
                <i class="fa fa-home"></i>
                <span>Homepage</span>
            </a>
        </li>
        <li ng-show="sidebar.loggedIn" class="sidebar-item"> <!-- active -->
            <a ui-sref="app.newedit" class="sidebar-link" title="New-Edit">
                <i class="fa fa-pencil-square-o"></i>
                <span>New-Edit</span>
            </a>
        </li>
        <li ng-show="sidebar.loggedIn" class="sidebar-item">
            <a ui-sref="app.list" class="sidebar-link" title="List">
                <i class="fa fa-list"></i>
                <span>List</span>
            </a>
        </li>
        <li ng-show="sidebar.loggedIn" class="sidebar-item">
            <a href="#" class="sidebar-link" title="Search">
                <i class="fa fa-search"></i>
                <span>Search</span>
            </a>
        </li>
    </ul>

    <ul class="sidebar-menu">

        <!--
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="fa fa-user"></i>
                <span>settings</span>
            </a>
        </li>
        -->

        <li class="sidebar-item">

            <a href="#" ng-show="!sidebar.loggedIn" class="sidebar-link" ng-click="sidebar.openLogin()">
                <i class="fa fa-sign-in"></i>
                <span>Login</span>
            </a>

            <a href="#" ng-show="sidebar.loggedIn" class="sidebar-link" ng-click="sidebar.logOut()">
                <i class="fa fa-sign-out"></i>
                <span>logout</span>
            </a>

            <!--
            <pre>{{sidebar.loggedIn}}</pre>
            -->
        </li>

    </ul>
</div>